
  <div>

  	    
        
<!-- https://codepen.io/sarahspr/pen/jQVeZr -->
    <!-- form -->
    <main class ="content">
    <form class="form">
    <div class ="title">
      <h2>Create Order</h2>
        <p>Select locations and dates to get started.</p>
    </div>
    <div class="progress">
      <p>Step 1 of 3</p>
    <div class="progress-bar">
      <div class="bar-pink">
        <p>33%</p>
      </div>
     </div>
    </div>
    <div class ="categories">
      <!-- <button class="flights button">Flights</button> -->
      <!-- <button class="Hotels button">Hotels</button>
      <button class ="Packages button">Packages</button> -->
    </div>
   <div class="row1">
    <div class="locations from-location1">
     <md-autocomplete @input="autocompleteCity" v-model="selectedCountryDeparture" :md-options="countriesDeparture">
      <label>Departure</label>
    </md-autocomplete>
    </div>
    <div class="locations to-location1">
      <md-autocomplete @input="autocompleteCity" v-model="selectedCountryArrival" :md-options="countriesArrival">
      <label>Arrival</label>
    </md-autocomplete>
    </div>
  </div>
    <div class="row2">
      <div class="dates depart">
        <label class="depart-date" for="depart">Departure:</label>
        <md-datepicker v-model="selectedDateDeparture" />
      </div>
      <div class="dates return">
        <label class="returning-date" for="return">Return:</label>
        <md-datepicker v-model="selectedDateArrival" />   
      </div>
    </div>
    <div class="">
    <p v-mojs="mojsOptions" class="next" @click="letsFly()" >Let's Fly!</p>
    <p v-mojs="mojsOptions" class="next" @click="getFLightPrice()" >Choose flight</p>
      </div>
    </form>
    <template v-if="toggleInfo">
        </template>
  </main>
<div class="md-layout md-gutter">
    <div class="md-layout-item"></div>
    <div class="md-layout-item">
        <badger-accordion>
    <badger-accordion-item v-for="(item,index) in info2" :key="index">
        <template slot="header" class="">

       



           <md-card class="md-primary">
      <md-card-header>
        <md-card-header-text>
          <div class="md-title"><span  v-for="(foo, index) in item.itineraries" :key="index" class="card-title"> 

              <span v-for="bar in foo.segments">
                {{bar.departure.iataCode}}--{{bar.arrival.iataCode}}
              </span>
            </span></div>
          <div class="md-subhead"><p>Number of seat : {{item.numberOfBookableSeats}}-- Price :{{item.price.grandTotal}}</p></div>
        </md-card-header-text>

        
      </md-card-header>

      <md-card-actions>
        <md-button class="md-raised">Open</md-button>
        <!-- <md-button>Action</md-button> -->
      </md-card-actions>
    </md-card>

  </template>    
        <template slot="content" class="container">
<md-card>
      <md-card-media-cover md-text-scrim>
        <md-card-media md-ratio="16:9">
          <img src="https://picsum.photos/id/1002/1600/900" alt="Skyscraper">
        </md-card-media>

        <md-card-area>
          <md-card-header>
            <span class="md-title"><span  v-for="(foo, index) in item.itineraries" :key="index" class="card-title "> 

              <span v-for="bar in foo.segments">
                {{bar.departure.iataCode}}--{{bar.arrival.iataCode}}
              </span>
            </span></span>
            <span class="md-subhead"><p>Number of seat : {{item.numberOfBookableSeats}}-- Price :{{item.price.grandTotal}}</p></span>
          </md-card-header>

          <md-card-actions>
            <md-button class="md-primary">Book flight</md-button>
            <!-- <md-button>Action</md-button> -->
          </md-card-actions>
        </md-card-area>
      </md-card-media-cover>
    </md-card>



         </template>  
    </badger-accordion-item>

</badger-accordion>

    </div>
    <div class="md-layout-item"></div>
  </div>

 
   
  </div>
