
  <div>

  	    
        
<!-- https://codepen.io/sarahspr/pen/jQVeZr -->
    <!-- form -->
    <main class ="content">
    <form class="form">
    <div class ="title">
      <h2>Book a Flight Price</h2>
        <p>Select locations and dates to get started.</p>
    </div>
    <div class="progress">
      <p>Step 1 of 3</p>
    <div class="progress-bar">
      <div class="bar-pink">
        <p>33%</p>
      </div>
     </div>
    </div>
    <div class ="categories">
      <!-- <button class="flights button">Flights</button> -->
      <!-- <button class="Hotels button">Hotels</button>
      <button class ="Packages button">Packages</button> -->
    </div>
   <div class="row1">
    <div class="locations from-location1">
     <md-autocomplete @input="autocompleteCity" v-model="selectedCountryDeparture" :md-options="countriesDeparture">
      <label>Departure</label>
    </md-autocomplete>
    </div>
    <div class="locations to-location1">
      <md-autocomplete @input="autocompleteCity" v-model="selectedCountryArrival" :md-options="countriesArrival">
      <label>Arrival</label>
    </md-autocomplete>
    </div>
  </div>
    <div class="row2">
      <div class="dates depart">
        <label class="depart-date" for="depart">Departure:</label>
        <md-datepicker v-model="selectedDateDeparture" />
      </div>
      <div class="dates return">
        <label class="returning-date" for="return">Return:</label>
        <md-datepicker v-model="selectedDateArrival" />   
      </div>
    </div>
    <div class="">
    <p v-mojs="mojsOptions" class="next" @click="letsFly()" >Let's Fly!</p>
    <p v-mojs="mojsOptions" class="next" @click="getFLightPrice()" >Choose flight</p>
      </div>
    </form>
  </main>
       <div >
       	<md-card>
      <md-card-media>
        <img src="" alt="People">
      </md-card-media>

      <md-card-header>
        <div class="md-title">{{info3.id}}---{{info3.lastTicketingDate}}</div>
        <div class="md-subhead">{{info3}}</div>
      </md-card-header>

      <md-card-expand>
        <md-card-actions md-alignment="space-between">
          <div>
            <md-button>Action</md-button>
            <md-button>Action</md-button>
          </div>

          <md-card-expand-trigger>
            <md-button class="md-icon-button">
              <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
          </md-card-expand-trigger>
        </md-card-actions>

        <md-card-expand-content>
          <md-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
          </md-card-content>
        </md-card-expand-content>
      </md-card-expand>
    </md-card>


       	
      <div class="row">
    <div v-for="(item,index) in info2" :key="index" class="col s4 autoflow">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <template>
          	<span  v-for="(foo, index) in item.itineraries" :key="index" class="card-title"> 

          		<span v-for="bar in foo.segments">
          			{{bar.departure.iataCode}}--{{bar.arrival.iataCode}}
          		</span>
          	</span>
          </template>
          
          <p>Number of seat : {{item.numberOfBookableSeats}}-- Price :{{item.price.grandTotal}}</p>
        </div>
        <div class="card-action">
   <!--        <a :href="item.links.flightDates">check offer</a>

          <a :href="item.links.flightOffers">This is a link</a> -->
          <md-checkbox @click="getFLightPrice" v-model="selectedTravel" :value="item.id">{{item.id}}</md-checkbox>
        </div>
      </div>
    </div>
  </div>

</div>
   
  </div>
